@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #7a1f2b;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.config {
    font-size: 40px; 
    color: white; 
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
}

.config:hover {
    transform: rotate(30deg); 
}

.logo {
    height: 160px;
}


.container {
    width: 50%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #5d0f15;
    text-align: center;
    margin-top: 6%;
}

#titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.linha input {
    width: 40%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    font-size: 15px;
    margin-left: 65px;

}

.linha-centro input {
    width: 60%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    font-size: 15px;
    margin: 20px auto;
}

input::placeholder {
    color: rgb(209, 209, 209); 
}

.senha {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.senha input {
    width: 60%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
}

.botao {
    background-color: #7a1f2b;
    color: aliceblue;
    padding: 15px 32px;
    font-size: 16px;
    margin-top: 35px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.botao:hover {
    background-color: #5b1622;
}

main {
    min-height: calc(100vh - 80px - 60px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0 60px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}

