html, body {
    background: #7a1f2b !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow-x: hidden !important;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 160px; 
    background-color: #5b1622; 
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 0 40px; 
    z-index: 1000; 
}

.logo {
    height: 100px; 
}

.config {
    font-size: 40px;
    color: white; 
    cursor: pointer;
    transition: 0.3s;
}

.config:hover {
    transform: rotate(30deg);
}


.container {
    width: 70%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    border: 8px solid #5d0f15;
    text-align: center;
    margin-top: 18%;
}

#titulo {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.linha input {
    width: 48%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
}

.linha-centro input {
    width: 60%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
    margin: 20px auto;
}

input::placeholder {
    color: #5a0b0b;
}

.senha {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.senha input {
    width: 60%;
    padding: 13px;
    border-radius: 25px;
    border: none;
    background: #7a1f2b;
    color: white;
    font-size: 15px;
}

.botao {
    margin-top: 25px;
    padding: 12px 40px;
    background: #3a1015;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.botao:hover {
    background: #8b1f18;
}

