@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    background: #7a1f2b;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 40px;
    z-index: 1000;
}

.config {
    font-size: 40px; 
    color: white; 
    cursor: pointer;
    transition: 0.3s;
}

.config:hover {
    transform: rotate(30deg); 
}

.logo {
    height: 160px;
}

main {
    min-height: calc(100vh - 130px); 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: none; 
}

section {
    font-family: "Inter", sans-serif;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 28px;
    width: 70%;
    max-width: 22rem;
    padding: 3.5rem;
    border-radius: 10px;
    margin: 0;
    margin-top: 10%;
    border: 3px solid #3b0f16; 
}

input {
    border-radius: 15px;
    margin: 5px;
    padding: 5px;
    width: 15rem;
    margin-top: 25px;
    background-color: darkred;
    color: aliceblue;
}

.botao {
    background-color: darkred;
    color: aliceblue;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 8px;
    transition: background-color 0.5s ease;
    border: none;
    cursor: pointer;
}

.botao:hover {
    background-color: #5b1622;
}

footer {
    font-family: "Inter", sans-serif;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5b1622;  
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    z-index: 999;
}
