
/* CONTAINER */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

/* Zera espaçamentos e impede rolagem geral */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    font-family: 'Inter', sans-serif;
    background-color: #7a1f2b;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* HEADER */
header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100px;
}

.config {
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
}

.config:hover {
    transform: rotate(30deg);
}

.logo {
    height: 100px;
}

/* MAIN */
main {
  height: calc(100vh - 100px - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

/* CONTAINER */
.container, main section {
  width: 35%;
  padding: 20px;
  border: 5px solid #5d0f15;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  text-align: center;
  max-width: 90%;
  box-sizing: border-box;
}

/* Títulos */
#titulo, #login-da-canta {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}


input {
    padding: 10px;
    font-size: 14px;
    background: #7a1f2b;
    color: white;
    border-radius: 25px;
    border: none;
    width: 80%;       /* TAMANHO PERFEITO */
    max-width: 300px; /* NÃO FICA ENORME */
    display: block;   /* Fica em linha separada */
    margin: 8px auto; /* Centraliza */
    box-sizing: border-box;
}


.senha {
    display: flex;
    justify-content: center;
    margin: 5px 0;
}

.senha input {
    width: 60%;
}

/* Botão */
.botao {
    background-color: #7a1f2b;
    color: aliceblue;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}

/* Botão */
.botao {
    background-color: #7a1f2b;
    color: aliceblue;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}
