@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #7a1f2b;
    overflow-x: hidden;
    overflow-y: auto;
}

header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.config {
    font-size: 40px; 
    color: white; 
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
}

.config:hover {
    transform: rotate(30deg); 
}

.logo {
    height: 160px;
}

main {
    min-height: calc(100vh - 80px - 60px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 0 60px; 
}

section {
    background-color: white;
    text-align: center;
    color: black;
    font-size: 30px;
    padding: 3.5rem;
    border-radius: 10px;
    border: 8px solid #5d0f15;
    width: 20%; 
}

a {
    color: black;
    text-decoration: none;
}

input {
    width: 20rem;
    margin: 20px 5px 5px 5px;
    padding: 8px 12px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #7a1f2b;
    color: aliceblue;
    border-radius: 20px;
}

input::placeholder {
    color:rgb(209, 209, 209); 
    opacity: 1;
}

.botao {
    background-color: #7a1f2b;
    border-radius: 25px;
    color: aliceblue;
    padding: 15px 32px;
    font-size: 16px;
    margin-top: 35px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.botao:hover {
    background-color: #5b1622;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}