
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; 
    font-family: 'Inter', sans-serif;
    background-color: #7a1f2b;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100px;
}

.config {
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
}

.config:hover {
    transform: rotate(30deg);
}

.logo {
    height: 100px;
}

main {
  height: calc(100vh - 100px - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

.container, main section {
  width: 35%;
  padding: 20px;
  border: 5px solid #5d0f15;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  text-align: center;
  max-width: 90%;
  box-sizing: border-box;
}

#titulo, #login-da-conta {
    font-size: 32px;
    font-weight: 900;
    color: #5b1622;
    margin-bottom: 26px;
    text-align: center;
}

#criar-conta a {
    color: #000;
    text-decoration: none;
    font-size: small;
}

#criar-conta a:hover {
    color: #5b1622;
}

#esqueceu-senha a {
    color: #000;
    text-decoration: none;
}

#esqueceu-senha a:hover {
    color: #5b1622;
}

input {
    padding: 10px;
    font-size: 14px;
    background: #7a1f2b;
    color: white;
    border-radius: 25px;
    border: none;
    width: 80%;
    max-width: 300px;
    display: block;
    margin: 8px auto;
    box-sizing: border-box;
}

.botao {
    background-color: #7a1f2b;
    color: aliceblue;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
}

.botao {
    background-color: #7a1f2b;
    color: aliceblue;
    padding: 10px 25px;
    font-size: 14px;
    margin-top: 15px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.5s;
    border: none;
}

.lembrar {
    width: 80%;
    max-width: 300px;
    margin: -2px auto 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    font-size: 12px;
    color: #000000;
}

.lembrar input[type="checkbox"] {
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin: 0;
}

.lembrar label {
    cursor: pointer;
}

footer {
    background-color: #5b1622;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 15px;
    width: 100%;
}
