html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}


header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100px;
    /*max-width: 800px;
    margin-top: 50px; */
}

.config {
    font-size: 40px; 
    color: white; 
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
}

.config:hover {
    transform: rotate(30deg); 
}

.logo {
    height: 100px;
}

/*.casa {
    height: 60px !important;
   width: auto !important;
}*/

.foto-usuario {
    height: auto;
    display: block;
    margin: 20px auto;
    width:150px

}

#Dados {
    background-color: #D9E4D7;
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 30px;
    text-align: left;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    /*display: block;
    margin-bottom: 150px;
    margin-top: 50px;*/
}

#Dados h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.container {
width: fit-content;
max-width: 800px; 
margin-top: 30px;
/*display: flex;
align-items: center;
gap: 20px;
background-color: #D9E4D7;
padding: 30px;
gap: 10px;
flex-direction: column;
align-items: flex-start;*/
}

.container p{
margin-bottom: 15px;
font-size: 16px;
}


footer {
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
    position: fixed;
    /*bottom: 0;
    z-index: 1000;
    left: 0;*/
}


/* RESPONSIVIDADE */
@media (max-width: 768px) {
    #Dados {
        width: 90%;
        padding: 20px;
    }

    footer {
        font-size: 14px;
    }
}