* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

/* Header padrão */
header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100px;
}

.logo {
    height: 100px;
}

.home-btn i {
    color: white;
    font-size: 32px;
    margin-right: 30px;
}

/* Foto do Usuário*/

.foto-container {
    text-align: center;
    margin-top: 100px;
}

/* Moldura da foto para deixar redonda*/
.foto-usuario {
    width: 150px;
    height: 150px;
    object-fit: cover; /*Ajuda a não distorcer a foto */
    border-radius: 50%; /*foto circular */
    border: 6px solid #5b1622; 
}

/* Nome do Usuário */
.nome-usuario {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
}

/* Caixa que contem os dados do Usuário */
#dados {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: #dddddd;
    padding: 30px;
    border-radius: 25px;  /* Arredonda o card */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /* Traz uma sombra suave */
}

#dados h3 {
    font-size: 32px;
    font-weight: 900;
    color: #5b1622;
    margin-bottom: 26px;
}

#dados p {
    margin-bottom: 12px;
    font-size: 16px;
}

.btn-editar {
    margin-top: 15px;
    background-color: #5b1622;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-editar i {
    margin-right: 8px;
}


/* Footer padronizada*/

footer {
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    /* Caso a footer fosse fixa
    position: fixed; 
    bottom: 0;
    left: 0; 
    */
}


footer p {
    font-size: 15px;
}

