html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}


header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.config {
    font-size: 40px; 
    color: white; 
    cursor: pointer;
    transition: transform 0.3s;
    margin-right: 20px;
}

.config:hover {
    transform: rotate(30deg); 
}

.logo {
    height: 60px;
}

.casa {
    height: 60px !important;
   width: auto !important;
}

.foto-usuario {
    height: auto;
    display: block;
    margin: 20px auto;
    width:150px

}

#Dados {
    display: block;
    background-color: #D9E4D7;
    width: 800px;
    margin: 15px auto 150px auto;
    padding: 30px;
    margin-bottom: 150px;
    margin-top: 5px;
    text-align: center;
    border-radius: 30px;
}

#Dados h2 {
    margin-top: 0px;
    margin-bottom: 20px;
}

.container {
display: flex;
align-items: center;
gap: 20px;
background-color: #D9E4D7;
padding: 30px;
width: fit-content;
max-width: 800px; 
margin-top: 3px;
}


footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    box-shadow: 0 -4px 6px rgba(0,0,0,0.3);
    z-index: 1000;
}
