* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
}

header {
    background-color: #5b1622;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 100px;
}

.logo {
    height: 100px;
}

.home-btn i {
    color: white;
    font-size: 32px;
    margin-right: 30px;
}

.foto-container {
    text-align: center;
    margin-top: 100px;
}

.foto-usuario {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #5b1622; 
}

.nome-usuario {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 600;
}

#dados {
    width: 90%;
    max-width: 500px;
    margin: 40px auto;
    background-color: #dddddd;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#dados h3 {
    font-size: 32px;
    font-weight: 900;
    color: #5b1622;
    margin-bottom: 26px;
}

#dados p {
    margin-bottom: 12px;
    font-size: 16px;
}

.btn-editar {
    margin-top: 15px;
    background-color: #5b1622;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-editar i {
    margin-right: 8px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: #5b1622;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 108px;
 
}


footer p {
    font-size: 15px;
}

/* RESPONSIVIDADE */

@media (max-width: 600px) {

    header {
        height: 65px;
        padding: 5px 10px;
    }

    .foto-usuario {
        width: 110px;
        height: 110px;
    }

    #dados {
        width: 95%;
        padding: 15px;
    }

    #dados h2 {
        font-size: 20px;
    }

    #dados p {
        font-size: 15px;
    }

    .usuario-container {
        margin-top: 10px;
    }
}